# Espaço de desafios

Notebook para o desenvolvimento de códigos de desafio do curso Data Visualization: estilização de tabelas com Python.

### Dicionário de variáveis

* **pais**: país de destino do produto.
* **id_cliente**: código de identificação do cliente solicitante.
* **data_pedido**: data de solicitação do produto por parte do cliente.
* **data_chegada**: data de chegada do produto ao endereço de entrega informado pelo cliente.
* **tipo_compra**: categoria que se enquadra a compra, podendo ser *Normal* ou *Devolução*.
* **numero_pedido**: código de identificação da compra realizada.
* **tamanho_pacote**: tamanho do pacote para envio do pedido.
* **unidades**: quantidade de unidades compradas no pedido.
* **custo_empacotamento**: valor do custo da loja para empacotar o produto.
* **custo_envio**: valor do custo da loja para enviar o produto.
* **tipo_desconto**: categoria do tipo de desconto foi aplicado.
* **categoria**: categoria de tipo de produto.
* **tipo_consumo**: nível de consumo do produto por tempo de uso.
* **tipo_cliente**: categoria de tipo de cliente.
* **custo_produto**: valor total do custo que o pedido resulta para a loja.

## Hora da prática 1

In [29]:
import pandas as pd
df = pd.read_csv('loja_livro_filmes.csv')
df

,pais,id_cliente,data_pedido,data_chegada,tipo_compra,numero_pedido,tamanho_pacote,unidades,custo_empacotamento,custo_envio,tipo_desconto,categoria,tipo_consumo,tipo_cliente,custo_produto
0,Argentina,111962928,2002-02-15,2002-03-10,Normal,98091426,Pacote pequeno,1,3.0,5.99,Sem desconto,BlueRay,Alto Consumo,B2C,8.99
1,Argentina,145148150,2004-11-05,2004-11-26,Normal,98087803,Pacote pequeno,3,1.0,6.99,Sem desconto,BlueRay,Alto Consumo,B2C,7.99
2,Argentina,194622983,2014-09-14,2014-09-28,Normal,98072296,Pacote pequeno,1,3.0,6.99,Sem desconto,BlueRay,Alto Consumo,B2C,9.99
3,Argentina,220834258,2011-07-20,2011-07-30,Devolução,98077986,Pacote pequeno,2,1.0,3.86,Cyber Monday,BlueRay,Alto Consumo,B2B,4.86
4,Argentina,220834258,2013-09-15,2017-02-15,Normal,98074234,Pacote pequeno,1,2.0,4.88,Black Friday,BlueRay,Alto Consumo,B2B,6.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24885,Venezuela,890670789,2006-05-05,2006-05-18,Devolução,98085835,Pacote pequeno,2,1.0,6.99,Sem desconto,Livro,Alto Consumo,B2C,7.99
24886,Venezuela,892274535,2002-02-20,2002-03-08,Normal,98091414,Pacote pequeno,1,2.0,6.25,Cyber Monday,Livro,Alto Consumo,B2B,8.25
24887,Venezuela,892274535,2015-01-26,2015-02-17,Normal,98071516,Pacote pequeno,3,3.0,4.65,Sem desconto,Livro,Alto Consumo,B2B,7.65
24888,Venezuela,898039697,2002-08-22,2002-09-06,Normal,98090720,Pacote pequeno,2,2.0,4.58,Sem desconto,Livro,Alto Consumo,B2B,6.58
24889,Venezuela,898039697,2009-05-27,2009-06-17,Normal,98081676,Pacote pequeno,1,1.0,6.65,Sem desconto,Livro,Alto Consumo,B2B,7.65

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24890 entries, 0 to 24889
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   pais                 24890 non-null  object
 1   id_cliente           24890 non-null  int64
 2   data_pedido          24890 non-null  object
 3   data_chegada         24890 non-null  object
 4   tipo_compra          24890 non-null  object
 5   numero_pedido        24890 non-null  int64
 6   tamanho_pacote       24890 non-null  object
 7   unidades             24890 non-null  int64
 8   custo_empacotamento  24890 non-null  float64
 9   custo_envio          24890 non-null  float64
 10  tipo_desconto        24890 non-null  object
 11  categoria            24890 non-null  object
 12  tipo_consumo         24890 non-null  object
 13  tipo_cliente         24890 non-null  object
 14  custo_produto        24890 non-null  float64
dtypes: float64(3), int64(3), object(9)
memory usage: 2.8+ MB

In [31]:
df['data_pedido'] = pd.to_datetime(df['data_pedido'])
df['data_chegada'] = pd.to_datetime(df['data_chegada'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24890 entries, 0 to 24889
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   pais                 24890 non-null  object
 1   id_cliente           24890 non-null  int64
 2   data_pedido          24890 non-null  datetime64[ns]
 3   data_chegada         24890 non-null  datetime64[ns]
 4   tipo_compra          24890 non-null  object
 5   numero_pedido        24890 non-null  int64
 6   tamanho_pacote       24890 non-null  object
 7   unidades             24890 non-null  int64
 8   custo_empacotamento  24890 non-null  float64
 9   custo_envio          24890 non-null  float64
 10  tipo_desconto        24890 non-null  object
 11  categoria            24890 non-null  object
 12  tipo_consumo         24890 non-null  object
 13  tipo_cliente         24890 non-null  object
 14  custo_produto        24890 non-null  float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(7)
memory usage: 2.8+ MB

In [32]:
df_paises = df.groupby(['pais'])['unidades'].sum().nlargest(10).copy()
df_paises = df_paises.reset_index()
df_paises

        pais  unidades
0  Argentina      5591
1    Equador      5566
2   Paraguai      5564
3       Peru      5550
4  Venezuela      5529
5   Colômbia      5504
6     Brasil      5473
7    Uruguai      5377
8      Chile      5304

In [33]:
df_paises.columns = ['Países', 'Unidades Pedidas']
df_paises['Ranque'] = df_paises.index + 1
df_paises.set_index('Ranque', inplace = True)
df_paises

           Países  Unidades Pedidas
Ranque
1       Argentina              5591
2         Equador              5566
3        Paraguai              5564
4            Peru              5550
5       Venezuela              5529
6        Colômbia              5504
7          Brasil              5473
8         Uruguai              5377
9           Chile              5304

In [34]:
s_paises = df_paises.style
s_paises = s_paises.format({'Unidades pedidas': '{} prod'})
s_paises

## Hora da prática 2

In [35]:
df_custo_categoria = df.groupby(['categoria'])[['custo_produto']].sum()
df_custo_categoria.index.name = 'Categoria Produto'
df_custo_categoria.columns = ['Custo de pedidos']
df_custo_categoria

                   Custo de pedidos
Categoria Produto
BlueRay                    14191.36
CD                         10514.28
Coleção                    73128.59
Livro                      78213.80

In [36]:
estilo_categoria = df_custo_categoria.style
estilo_categoria.format('R$ {:,.2f}').background_gradient('Greens')
estilo_categoria

In [37]:
estilo_categoria.format('R$ {:,.2f}')\
                .highlight_max(color = '#F6165')\
                .highlight_min(color = 'lightgreen')

## Hora da prática 3

In [46]:
df_tipo_desconto = pd.DataFrame(df['tipo_desconto'].value_counts())
df_tipo_desconto.columns = ['N pedidos']
df_tipo_desconto.index.name = 'Descontos'
df_tipo_desconto

               N pedidos
Descontos
Sem desconto       13347
Cyber Monday        6922
Black Friday        1986
Liquidação          1487
Data especial       1148

In [48]:
import numpy as np
porcentagem = df_tipo_desconto['N pedidos'].to_numpy()
porcentagem = 100 * porcentagem / porcentagem.sum()
porcentagem

array([53.62394536, 27.81036561,  7.97910808,  5.97428686,  4.61229409])

In [49]:
df_tipo_desconto['Porcentagem por tipo de desconto'] = porcentagem
df_tipo_desconto

               N pedidos  Porcentagem por tipo de desconto
Descontos
Sem desconto       13347                         53.623945
Cyber Monday        6922                         27.810366
Black Friday        1986                          7.979108
Liquidação          1487                          5.974287
Data especial       1148                          4.612294

In [53]:
estilo_desconto = df_tipo_desconto.style
estilo_desconto

cabecalho = {
    'selector': 'th',
    'props': 'font-weight: bold; font-family: Arial; text-align: center; background-color: white'
}
celulas = {
    'selector': 'td',
    'props': 'font-family: Arial; text-align: left; background-color: white'
}
estilo_desconto.set_table_styles([cabecalho, celulas], overwrite = False)

In [55]:
estilo_desconto.format({'Porcentagem por tipo de desconto': '{:.2f} %'})\
               .bar(subset = 'Porcentagem por tipo de desconto', vmin = 0, vmax = 100.0, color = '#9CD33B',
                   height = 50, width = 60)

## Hora da prática 4

In [67]:
df_meses = df.copy()
df_meses = df_meses.sort_values('data_pedido')
df_meses = df_meses.reset_index(drop = True)
df_meses = df_meses[df_meses['data_pedido'] >= '2013-01-01']
df_meses['meses'] = df_meses['data_pedido'].dt.strftime('%Y - %b')
df_meses

,pais,id_cliente,data_pedido,data_chegada,tipo_compra,numero_pedido,tamanho_pacote,unidades,custo_empacotamento,custo_envio,tipo_desconto,categoria,tipo_consumo,tipo_cliente,custo_produto,meses
18777,Chile,318601696,2013-01-01,2013-01-17,Normal,98075481,Pacote pequeno,3,1.0,4.73,Sem desconto,Livro,Alto Consumo,B2B,5.73,2013 - Jan
18778,Uruguai,405991354,2013-01-01,2016-11-27,Devolução,98075486,Pacote grande,1,3.0,5.84,Liquidação,Coleção,Alto Consumo,B2C,8.84,2013 - Jan
18779,Chile,356602040,2013-01-01,2013-01-11,Normal,98075484,Pacote pequeno,2,3.0,6.12,Black Friday,Livro,Baixo Consumo,B2C,9.12,2013 - Jan
18780,Chile,405991354,2013-01-02,2013-01-21,Normal,98075479,Pacote pequeno,2,3.0,5.75,Data especial,BlueRay,Alto Consumo,B2C,8.75,2013 - Jan
18781,Uruguai,619383446,2013-01-02,2013-01-22,Devolução,98075482,Pacote grande,3,3.0,3.58,Sem desconto,Coleção,Alto Consumo,B2C,6.58,2013 - Jan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24885,Uruguai,605633342,2015-12-14,2015-12-28,Normal,98069382,Pacote grande,3,1.0,5.33,Sem desconto,Coleção,Alto Consumo,B2B,6.33,2015 - Dec
24886,Peru,111962928,2015-12-15,2016-01-03,Normal,98069376,Pacote grande,1,1.0,5.99,Sem desconto,CD,Baixo Consumo,B2C,6.99,2015 - Dec
24887,Equador,758679810,2015-12-15,2016-01-04,Normal,98069373,Pacote pequeno,3,1.0,3.55,Cyber Monday,Livro,Baixo Consumo,B2C,4.55,2015 - Dec
24888,Brasil,436608095,2015-12-15,2015-12-26,Devolução,98069377,Pacote pequeno,1,3.0,3.20,Sem desconto,Livro,Alto Consumo,B2B,6.20,2015 - Dec
24889,Colômbia,667298873,2015-12-15,2016-01-02,Normal,98069374,Pacote grande,2,1.0,3.20,Sem desconto,Coleção,Alto Consumo,B2C,4.20,2015 - Dec

In [69]:
tempo_demora = df_meses['data_chegada'] - df_meses['data_pedido']
df_meses['tempo_entrega'] = tempo_demora
df_meses

,pais,id_cliente,data_pedido,data_chegada,tipo_compra,numero_pedido,tamanho_pacote,unidades,custo_empacotamento,custo_envio,tipo_desconto,categoria,tipo_consumo,tipo_cliente,custo_produto,meses,tempo_entrega
18777,Chile,318601696,2013-01-01,2013-01-17,Normal,98075481,Pacote pequeno,3,1.0,4.73,Sem desconto,Livro,Alto Consumo,B2B,5.73,2013 - Jan,16 days
18778,Uruguai,405991354,2013-01-01,2016-11-27,Devolução,98075486,Pacote grande,1,3.0,5.84,Liquidação,Coleção,Alto Consumo,B2C,8.84,2013 - Jan,1426 days
18779,Chile,356602040,2013-01-01,2013-01-11,Normal,98075484,Pacote pequeno,2,3.0,6.12,Black Friday,Livro,Baixo Consumo,B2C,9.12,2013 - Jan,10 days
18780,Chile,405991354,2013-01-02,2013-01-21,Normal,98075479,Pacote pequeno,2,3.0,5.75,Data especial,BlueRay,Alto Consumo,B2C,8.75,2013 - Jan,19 days
18781,Uruguai,619383446,2013-01-02,2013-01-22,Devolução,98075482,Pacote grande,3,3.0,3.58,Sem desconto,Coleção,Alto Consumo,B2C,6.58,2013 - Jan,20 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24885,Uruguai,605633342,2015-12-14,2015-12-28,Normal,98069382,Pacote grande,3,1.0,5.33,Sem desconto,Coleção,Alto Consumo,B2B,6.33,2015 - Dec,14 days
24886,Peru,111962928,2015-12-15,2016-01-03,Normal,98069376,Pacote grande,1,1.0,5.99,Sem desconto,CD,Baixo Consumo,B2C,6.99,2015 - Dec,19 days
24887,Equador,758679810,2015-12-15,2016-01-04,Normal,98069373,Pacote pequeno,3,1.0,3.55,Cyber Monday,Livro,Baixo Consumo,B2C,4.55,2015 - Dec,20 days
24888,Brasil,436608095,2015-12-15,2015-12-26,Devolução,98069377,Pacote pequeno,1,3.0,3.20,Sem desconto,Livro,Alto Consumo,B2B,6.20,2015 - Dec,11 days
24889,Colômbia,667298873,2015-12-15,2016-01-02,Normal,98069374,Pacote grande,2,1.0,3.20,Sem desconto,Coleção,Alto Consumo,B2C,4.20,2015 - Dec,18 days

In [70]:
entrega = df_meses.pivot_table(index = 'pais', columns = 'meses', values = 'tempo_entrega',
                              aggfunc = 'mean', sort = False)
entrega

meses,2013 - Jan,2013 - Feb,2013 - Mar,2013 - Apr,2013 - May,2013 - Jun,2013 - Jul,2013 - Aug,2013 - Sep,2013 - Oct,...,2015 - Mar,2015 - Apr,2015 - May,2015 - Jun,2015 - Jul,2015 - Aug,2015 - Sep,2015 - Oct,2015 - Nov,2015 - Dec
pais,,,,,,,,,,,,,,,,,,,,,
Chile,90 days 05:03:09.473684211,341 days 05:38:49.411764704,470 days 02:40:00,351 days 16:48:00,195 days 13:05:27.272727272,99 days 17:36:00,307 days 05:32:18.461538460,207 days 22:09:13.846153846,321 days 01:30:00,137 days 16:48:00,...,606 days 06:43:12,424 days 01:32:54.193548384,423 days 10:17:08.571428568,353 days 19:49:33.913043480,432 days 15:25:42.857142856,447 days 11:22:06.315789472,314 days 02:40:00,502 days 06:58:03.870967744,406 days 22:04:48,254 days 21:49:05.454545456
Uruguai,180 days 21:10:35.294117648,201 days 06:24:00,146 days 12:34:17.142857142,251 days 01:24:42.352941176,12 days 12:00:00,555 days 06:00:00,217 days 18:56:50.526315788,161 days 19:45:52.941176470,117 days 08:00:00,90 days 00:00:00,...,231 days 20:09:36,395 days 16:41:44.347826088,502 days 08:28:14.117647056,360 days 01:02:36.521739132,349 days 11:33:20,280 days 14:10:54.545454544,346 days 00:00:00,453 days 08:00:00,434 days 03:00:00,184 days 10:00:00
Venezuela,216 days 01:08:34.285714284,267 days 12:00:00,219 days 09:36:00,221 days 12:55:23.076923076,180 days 21:00:00,315 days 18:27:41.538461540,282 days 10:00:00,393 days 09:36:00,405 days 03:47:22.105263156,187 days 03:25:42.857142858,...,307 days 13:30:00,619 days 07:38:10.909090912,413 days 11:35:10.344827588,442 days 21:49:05.454545456,443 days 02:05:13.043478264,236 days 16:25:15.789473684,258 days 09:13:50.769230768,327 days 10:09:13.846153848,271 days 02:31:34.736842104,187 days 18:00:00
Argentina,321 days 21:54:46.956521740,314 days 05:08:34.285714284,356 days 00:00:00,481 days 04:10:26.086956520,346 days 10:00:00,309 days 07:38:10.909090908,351 days 21:28:25.263157896,171 days 18:00:00,342 days 04:48:00,149 days 09:20:00,...,324 days 16:00:00,467 days 16:41:44.347826088,264 days 14:10:54.545454544,529 days 21:20:00,374 days 16:19:12,506 days 21:36:00,437 days 08:00:00,299 days 04:17:08.571428572,317 days 23:02:24,293 days 03:00:00
Equador,718 days 19:30:00,16 days 22:17:08.571428571,80 days 16:00:00,206 days 05:08:34.285714286,178 days 09:00:00,233 days 00:00:00,317 days 21:10:35.294117648,252 days 05:42:51.428571428,205 days 09:13:50.769230770,479 days 03:41:32.307692304,...,338 days 20:41:22.758620688,277 days 14:36:31.304347828,440 days 08:20:52.173913040,566 days 12:37:53.684210528,279 days 15:25:42.857142856,425 days 06:43:12,337 days 07:06:40,238 days 10:00:00,335 days 01:15:47.368421052,151 days 00:00:00
Colômbia,339 days 11:04:36.923076924,293 days 01:36:00,328 days 20:18:27.692307692,136 days 17:27:16.363636364,580 days 03:25:42.857142856,211 days 01:12:00,377 days 22:17:08.571428572,643 days 19:12:00,139 days 07:12:00,570 days 00:00:00,...,452 days 12:28:48,328 days 22:35:17.647058824,433 days 04:10:26.086956520,438 days 20:41:22.758620688,399 days 00:00:00,433 days 21:54:46.956521736,435 days 11:31:12,462 days 15:09:28.421052632,149 days 22:51:25.714285714,393 days 18:40:00
Brasil,238 days 17:41:03.157894736,520 days 13:05:27.272727272,406 days 15:25:42.857142856,382 days 15:16:21.818181820,454 days 20:48:00,232 days 06:00:00,181 days 05:13:02.608695652,266 days 03:12:00,272 days 11:00:00,213 days 16:00:00,...,431 days 03:47:22.105263160,432 days 01:39:18.620689656,375 days 13:00:00,222 days 13:20:00,310 days 22:35:17.647058824,455 days 16:36:55.384615384,392 days 19:00:00,394 days 04:21:49.090909092,391 days 11:36:46.451612904,241 days 12:00:00
Paraguai,216 days 20:34:17.142857144,384 days 17:36:00,495 days 21:10:35.294117648,272 days 06:51:25.714285716,345 days 05:00:00,263 days 13:42:51.428571428,120 days 10:00:00,285 days 06:51:25.714285716,506 days 11:12:00,351 days 16:00:00,...,510 days 15:36:00,372 days 17:15:00,463 days 17:20:00,354 days 13:00:00,607 days 05:13:02.608695656,405 days 08:30:58.064516128,261 days 12:31:18.260869564,354 days 15:36:00,203 days 07:12:00,107 days 06:00:00
Peru,283 days 11:25:42.857142856,379 days 01:15:47.368421052,436 days 03:41:32.307692304,193 days 11:12:00,167 days 12:42:21.176470588,216 days 01:50:46.153846152,333 days 08:00:00,371 days 01:42:51.428571428,280 days 22:17:08.571428572,319 days 09:00:00,...,470 days 11:33:20,393 days 20:00:00,499 days 15:21:36,332 days 19:30:00,330 days 13:56:07.741935484,556 days 06:40:00,471 days 09:36:00,204 days 16:56:28.235294118,325 days 18:21:10.588235296,323 days 02:10:54.545454544

In [77]:
estilo_entrega = entrega.style.format('{:,.2f}')



estilo_entrega.set_sticky(axis = 'index')

TypeError: unsupported format string passed to Timedelta.__format__

## Hora da prática 5

In [86]:
df_alteracao = df.rename(columns={'pais': 'Custo por país ($)'})
df_clientes = df_alteracao.pivot_table(index = ['tipo_cliente', 'categoria'], columns = 'Custo por país ($)', values = 'custo_produto',
                           aggfunc = 'sum')
df_clientes

Custo por país ($)      Argentina   Brasil    Chile  Colômbia  Equador
tipo_cliente categoria
B2B          BlueRay       488.23   552.31   521.31    538.39   473.88  \
             CD            344.74   449.66   350.58    422.22   396.15
             Coleção      2824.31  2899.26  2939.29   2823.34  2747.09
             Livro        3150.77  2751.26  2809.13   2987.06  3229.24
B2C          BlueRay      1027.85  1007.18   992.12   1062.35  1004.99
             CD            785.63   860.71   620.83    668.12   666.49
             Coleção      5587.93  5053.64  5162.34   5253.09  5583.83
             Livro        5865.62  5957.59  5718.97   5781.46  5438.32

Custo por país ($)      Paraguai     Peru  Uruguai  Venezuela
tipo_cliente categoria
B2B          BlueRay      596.74   727.11   580.81     476.67
             CD           341.49   388.17   495.02     415.60
             Coleção     2492.20  2912.78  2548.28    2969.67
             Livro       3161.33  3092.14  2872.69    2721.60
B2C          BlueRay     1095.01  1079.54   873.96    1092.91
             CD           867.01   788.82   795.89     857.15
             Coleção     5759.34  5159.96  4961.45    5450.79
             Livro       5543.30  5678.06  5809.63    5645.63

In [100]:
df_clientes['Total'] = df_clientes.sum(axis = 1)

s_clientes = df_clientes.style.format('{:,.2f}')

tabela = {
    'selector': 'td, th',
    'props': 'font-weight: normal; font-family: Arial; text-align: right; background-color: white'
}
cabecalho = {
    'selector': 'th',
    'props': 'vertical-align: top'
}
s_clientes.set_table_styles([tabela, cabecalho])

s_clientes.set_table_styles({
    ('B2B', 'BlueRay'): [{'selector': 'th', 'props': 'border-top: 1px solid #181818'},
              {'selector': 'td', 'props': 'border-top: 1px solid #181818'}],
    ('B2B', 'Livro'): [{'selector': 'th', 'props': 'font-weight: bold'}],
    ('B2C', 'Livro'): [{'selector': 'th', 'props': 'font-weight: bold'}],
}, overwrite = False, axis = 1)

s_clientes.set_table_styles({
    'Total ($)': [{
        'selector': '.true',
        'props': 'font-weight: bold'
    }]
}, overwrite = False, axis = 0)

cores_coluna = pd.DataFrame(['false','false','false','true','false','false','false','true'],index= df_clientes['Total ($)'].index,
                            columns = ['Total ($)'])

s_clientes.set_td_classes(cores_coluna)